@model SaleWebMVC.Models.ViewModels.SallerFromViewModel;
@{
    ViewData["Title"] = "Edit";
}

<h2>@ViewData["Title"]</h2>

<h4>Saller</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Saller.Id" />
            <div class="form-group">
                <label asp-for="Saller.Name" class="control-label"></label>
                <input asp-for="Saller.Name" class="form-control" />
                <span asp-validation-for="Saller.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Saller.Email" class="control-label"></label>
                <input asp-for="Saller.Email" class="form-control" />
                <span asp-validation-for="Saller.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Saller.BirthDate" class="control-label"></label>
                <input asp-for="Saller.BirthDate" class="form-control" />
                <span asp-validation-for="Saller.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Saller.BaseSalary" class="control-label"></label>
                <input asp-for="Saller.BaseSalary" class="form-control" />
                <span asp-validation-for="Saller.BaseSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Saller.DepartmentId" class="control-label"></label>
                <select asp-for="Saller.DepartmentId" asp-items="@(new SelectList(Model.Departments, "Id", "Name"))" class="form-control"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}